[submodule "spe"]
	path = spe
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
[submodule "app/spec"]
	path = app/spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
